@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

p#timer {
    font-size: 600px;
    color: lime;
    margin: 0;
    padding: 0;
    text-align: center;
}

input {
    width: 3em;
    text-align: right;
}
